:root {
    --color-brand-normal: #819b57;
    --color-brand-light: #CFCFBC;
    --color-brand-dark: #465929;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-secondary-dark: #A18268;
}


$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;