.footer {
    background-image: url(../images/footer-background.png);
    background-color: var(--color-primary-dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 32px 0;
    position: relative;
    
}
.footer::before,
.footer::after {
    position: absolute;
    content: '';
    bottom: 0;
    background-repeat: no-repeat;
}

.footer::before {
    background-image: url(../images/decor-small-bread.png);
    width: 180px;
    height: 120px;
}

.footer::after {
    background-image: url(../images/decor-big-bread.png);
    width: 380px;
    height: 190px;
    right: 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}
.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}
.footer-logo, 
.footer-menu {
    flex-grow: 1;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.address-copyright-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-secondary-dark);
}